
<div class="container">
    <form action="/home/write" method="POST" style="margin-top : 70px; margin-bottom : 30px;">
      
      <div class="form-group">
        <label for="exampleInputPassword1"> 내용 </label>
        <textarea name="content" class="form-control" rows="5" id="comment" placeholder="내용을 입력하세요."></textarea>
      </div>

      <button type="submit" class="btn btn-default"> 제출 </button>
      
    </form>
    
    <% @posts.each do |p| %>
        <div class="well"> 
            <%= p.content %> <br><br><br>
            글자 수 (공백포함) : <%= p.len1 %> <br>
            글자 수 (공백비포함) : <%= p.len2 %> <br>
            단어 수 : <%= p.wrd %> <br>
        </div>
    <% end %>
</div>
